- model_class = Article
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
  .btn-group.pull-right
    %a{href: "bootstrap-elements.html", 'data-target'=>"#", class:"btn btn-raised dropdown-toggle", 'data-toggle'=>"dropdown"}
      = 'Название' if sort_column == 'articles.title'
      = 'По рейтингу' if sort_column == 'articles.rating'
      = 'Дата создания' if sort_column == 'created_at'
      - if sort_direction == 'asc'
        %span{class:"glyphicon glyphicon-sort-by-attributes"}
      - else
        %span{class:"glyphicon glyphicon-sort-by-attributes-alt"}
    %ul.dropdown-menu
      %li
        = link_to "Название", params.merge(:order => 'articles.title', :direction => sort_column && sort_direction == "asc" ? "desc" : "asc")
      %li
        = link_to "Дата создания", params.merge(:order => 'created_at', :direction => sort_column && sort_direction == "asc" ? "desc" : "asc")
      %li
        = link_to "По рейтингу", params.merge(:order => 'articles.rating', :direction => sort_column && sort_direction == "asc" ? "desc" : "asc")

- if @articles.size == 0
  %h4 News portal is empty now
- else
  = render partial: 'articles/articles', locals: { articles: @articles}