.container
  .row{class: "col-md-8"}
    %h3 Suggested news 
    - if @articles.count != 0    
      %table{class: "table col-md-6"}
        %tr
          %th Title
          %th Description
          %th 
        - @articles.each do |article|
          %tr{id: "article_#{article.id}"}
            %td
              = article.title
            %td
              = article.description
            %td
              = link_to article do
                %button{class: "btn btn-default", type:"submit"}
                  More..
            %td
              = link_to edit_article_path(id: article.id), remote: true do
                %button{class: "btn btn-primary"}
                  Confirm
            %td
              = link_to article_path(id: article.id), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, remote: true do
                %button{class: "btn btn-danger"}
                  Delete
