.container
  .row{class: "col-md-8"}
    %h3 User 
    %p
      = "Name: #{@user.login if @user.login}"
    %p
      = "Email: #{@user.email if @user.email}"
    %h4
      = "Number of posts: #{ @user.articles.count }"
  %table{class: "table-striped col-md-10"}
    %tr
      %th Title
      %th Description
      %th Rating
      %th 
      - @articles.each do |article|        
        %tr
          %td
            = article.title
          %td
            = article.description
          %td
            = article.rating
          %td
            = link_to article do
              %button{class: "btn btn-default", type:"submit"}
                More..

  .row{class: "col-md-8"}
    - if user_signed_in? && @user.id == current_user.id
      %a{:class => "btn btn-default", :href => "#{edit_user_registration_path}", :role => "button"} Change info
      %a{:class => "btn btn-primary", :href => "#{new_article_path}", :role => "button"} New post
