.container
  .row{class: "col-md-8"}
    %h3 
      = t "user.user" 
    %p
      = "#{t 'user.name'}: #{@user.name if @user.name}"
    %p
      = "#{t 'user.email'}: #{@user.email if @user.email}"
    %h4
      = "#{t 'user.num_of_posts'}: #{ @user.articles.count }"
  .row{class: "col-md-8"}
    - if @user.articles.count != 0    
      %table{class: "table-striped col-md-10"}
        %tr
          %th Title
          %th Description
          %th Rating
          %th 
        - @articles.each do |article|        
          %tr
            %td
              = article.title
            %td
              = truncate(article.description, :length => 25, :omission => '... (continued)')
            %td
              = article.rating
            %td
              = link_to article do
                %button{class: "btn btn-default", type:"submit"}
                  More..

  .row{class: "col-md-8"}
    - if user_signed_in? && @user.id == current_user.id
      %a{:class => "btn btn-default", :href => "#{edit_user_registration_path}", :role => "button"} Change info
      %a{:class => "btn btn-primary", :href => "#{new_article_path}", :role => "button"} New post
